<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Controls" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net452" />
  <package id="AS.Video.Core" version="1.0.3" targetFramework="net452" />
  <package id="AS.Video.Sources.AForge" version="1.0.9.1" targetFramework="net452" />
  <package id="Microsoft.Expression.Encoder" version="4.0.4276.3" targetFramework="net452" />
  <package id="NReco.VideoConverter" version="1.1.2" targetFramework="net452" />
  <package id="Socket" version="2.1.0" targetFramework="net452" />
  <package id="WpfWebcamControl" version="3.2.0" targetFramework="net452" />
</packages>